/*---------------------------- Universal --------------------*/

.background{
    background-color:whitesmoke;  
}


a{
    
    text-decoration: none;
    color: darkviolet;
    font-size: 20px;
    
}


footer{
    
    
    background-color: #30373b;
    padding: 20px;
    text-align: center;
    color: white;
    margin: 0 auto;
    
}
/*--------------------------- 1st section ---------------------*/

.image {
    
    border: .5em solid white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
    transform: rotate(-2deg);
    height : 80vh;  
    margin-left: 80px;
    margin-top: 40px;
}


.Heading {
    
   font-family: sans-serif;
   font-size: 50px;
   text-align: right;
   margin-top: -25rem; 
   padding-right: 90px; 
    
}

.bio {
   font-family: sans-serif;
   color: dimgray;
   text-align: right;
   margin-top: -4rem; 
   padding-right: 90px;
}



.link {
    
   text-align: right;
   margin-top: -2rem; 
   padding-left: 740px; 
    
}



/*--------------------------- 2nd section ---------------------*/

h1{
    
    text-align: center;
    color: white;
    font-size: 50px;
    background-color: #30373b;
    padding:20px;
    margin: 0 auto;
    
}


p{
    text-align: center;
    font-size: 25px;
}

.head{
    
    color: yellowgreen;
}

.developer{
    
    color: red;
}

